# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Make, CMake & binaries
cmake-build-debug
cmake-build
skyline-debug
skyline

# Infer
infer-out

# CLion
.idea

# Custom
sync.sh